{% extends "admin/base.html" %}
{% load static %}

{% block title %}Daily Motivational Quotes Admin{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Daily Motivational Quotes Admin</a></h1>
{% endblock %}

{% block nav-global %}
    <div class="custom-admin-subtitle">Manage quotes, subscriptions, images, and sent records with style.</div>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/custom_admin.css' %}">
{% endblock %}
